@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
    --bg-color: #f0f0f0;
    --text-color: #222325;
    --cbg: #f5f5f5;
    --input-bg: #fff;
    --button-bg: #222325;
    --button-color: #fff;
    --swatch-bg: #fff;
    --swatch-text: #464646;
    --swatch-shadow: rgba(0, 0, 0, 0.1);
    --icon-color: #222325;
    --switch-bg: #ccc;
    --switch-knob: #fff;
    --light-gray: #999;
    --fill-icon:#222;
    --light-bg-popup:#343434;
  }

  [data-theme="dark"] {
    --cbg: #222325;
    --bg-color: #222325;
    --text-color: #fff;
    --input-bg: #333;
    --button-bg: #fff;
    --button-color: #222325;
    --swatch-bg: #fff;
    --swatch-text: #c2c2c2;
    --swatch-shadow: rgba(0, 0, 0, 0.2);
    --icon-color: #222325;
    --switch-bg: #fff;
    --switch-knob: #222325;
    --light-gray: #777;
    --fill-icon:#fff;
    --light-bg-popup:#adadad;
  }

  * {
    font-family: "Montserrat", Sans-serif;
}
a{
    text-decoration: none;
}
h1, h2, p{
  margin: 8px 8px 0 8px;
  padding: 0;
}
 h3{
  margin: 0 0 8px 8px;
 }
html,
body{
    overflow-x: hidden;
    width:100%;
    height:fit-content;
    max-width: 1900px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    transition: all 0.3s ease-in-out;

}

.header{
    width: 100%;
    box-shadow: var(--swatch-shadow) 0px 4px 12px;
    padding: 1.4rem 0;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    background-color: var(--bg-color);
    
}

.header .content{ 
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header .content .links{
    display: flex;
    gap:1rem;
    align-items: center;
}
.header .content .links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color:var(--text-color);
    transition: all 0.3s ease-in-out;

}

.header .content .links a:hover{
   opacity: 0.6;
   color:rgb(234 179 8)
}
.header .content .links img{
    width:26px;
    transition: all 0.3s ease-in-out;
}
.header.mobile{
    display: none;
}
.hamb-icon{
    width: 30px;
    margin-left: 7%;
}
.hamb-icon button{
  display: flex;
  flex-direction: column;
  border:none;
  outline: none;
  gap: 5px;
  background: none;
  width:36px;
}
.hamb-icon button span{
  width:100%;
  height:2px;
  background-color: var(--text-color);
  opacity: 0.8;
}
.hamb-icon img{
    width: 30px;
   
}
.popup-mobile{
   
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1111;
    background-color: var(--light-bg-popup);
    backdrop-filter: blur(21px);
    border-radius: 8px;
    width: 63%;
    /* height: fit-content; */
    padding: 3rem 1rem;
    pointer-events: none;
    visibility: hidden;
    
}
.popup-mobile.open{
 
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
    visibility: visible;
}
.popup-mobile .theme-switch-wrapper .fa-sun,
.popup-mobile .theme-switch-wrapper .fa-moon,
.popup-mobile .fa-moon:before{
  color: var(--button-color);
}
.popup-mobile .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 0;
    height: 100%;
    gap:3rem
}
.popup-mobile .content .links{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
}
.popup-mobile .content .links a{
    color: var(--button-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
}
.popup-mobile .content .links a img{
    width: 30px;
}
.popup-mobile .content .links.social-links{
    flex-direction: row;
    gap: 1rem;
}
.close{
    width: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.banner{
    max-width: 1400px;
    padding: 6rem 0 0 0;
    /* min-height: calc(100vh - 75px); */
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    width: 90%;
    margin: 0 auto;
    /* position: relative;
    top: 80px; */
    transition: all 0.3s ease-in-out;
}
.banner .img-container img{
    width:100%
}
.banner .img-container{
    width: 45%;
    display: flex;
    justify-content: center;
}
.banner .text-dec{
    width: 52%;
    font-size: 60px;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.banner .text-dec div:first-of-type{
    color:var(--text-color);
    font-weight: 900;
    /* font-family: 'Roboto'; */
    transition: all 0.3s ease-in-out;
}
.banner .text-dec div:first-of-type.btn{
  background-color: var(--button-bg);
}
.banner .text-dec span{
    color:rgb(234 179 8)!important;
    font-weight: 900;
}
.banner .btn svg path:last-child{
    stroke: rgb(234 179 8) !important;
}
.banner .description{
    font-size: 18px;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    line-height: 33px;
}

.banner .flex-buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    
}
.banner .btn{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    height: 40px;
    background-color: var(--bg-btn);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    
}


.banner .btn.contact-me{
    background-color: transparent;
    position: relative;
   
    
}
.banner path{
    stroke: var(--fill-icon);
}
.banner .text-dec div:first-of-type path{
    stroke: none;
}
.banner .btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:var(--text-color);
    gap:0.5rem
    
}


.statistics{
    width: 100%;
    padding: 7rem 0 2rem 0;
}
.statistics .content{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics .content .title div:first-child{
    font-size: 50px;
    font-weight: 900;
    color:var(--text-color)

}

.statistics .content .title div:last-child{
    color:rgb(234 179 8);
    font-weight: 600;
    
}
.statistics .content .title.flex-col,
.timeline-section .content .title.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.statistics .content .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    margin-top: 3rem;
    width:100%
}
.statistics .content .grid .number{
    font-size: 70px;
    font-weight: 900;
    color:var(--text-color)
}
.challenges-number{
    font-weight: 400;
    font-size: 20px;
    color:var(--light-gray)
}
.statistics .content .grid .col{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:1rem;
    flex-direction: column;
}

.timeline-section {
    position: relative;
    /* padding: 50px 0; */
    width: 100%;
    margin: 0 auto;
  }
  .timeline-section .content{
    width:80%;
    margin: 0 auto;
    padding: 3rem 0;
  }
  .timeline {
    position: relative;
    max-height: 700px;
    overflow: hidden;
  }
  .timeline-section .title.flex-col,
  .projexts .title.flex-col{
    padding: 2rem 0;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color:var(--text-color)
  }
  .timeline-section .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem
  }
  .timeline-section .buttons .btn img{
    width:35px
  }
  .timeline-section .buttons .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.3rem 1.3rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 7px;
  }
  .timeline-section .buttons .btn.active{
    background-color: rgb(234 179 8);
    color:#fff
  }
  .timeline-section .buttons .btn.active div{
    color:#fff !important
  }
  .timeline-section .buttons .btn div{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--text-color)
  }
  .timeline-section .title.flex-col div:last-child,
  .projects .title.flex-col div:last-child{
    color: rgb(234 179 8);
    font-size: 16px;
    font-weight: 900;
  }
  /* .timeline-item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 50px;
  }
  
  .timeline-circle {
    position: absolute;
    left: 10px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #2a33a6;
    border-radius: 50%;
    z-index: 1;
  }

  .timeline-content {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  .timeline-line {
    position: absolute;
    top: 0;
    left: 19px;
    width: 2px;
    background-color: #2a33a6;
    height: 0;
    z-index: 0;
    transition: height 0.5s ease-in-out;
  }
  
  .timeline-content h3 {
    margin-top: 0;
  }
  
  .timeline-content span {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #777;
  } */
  .timeline-section {
    position: relative;
    overflow: hidden;
  }
  
  .timeline_container {
    position: relative;
    margin:2rem 0;
  }
  
  .timeline {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  /* Top and Bottom Circles */
  .timeline-top-circle, .timeline-bottom-circle {
    width: 16px;
    height: 16px;
    background-color: rgb(234 179 8);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-top-circle {
    top: 0;
  }
  
  .timeline-bottom-circle {
    bottom: 0;
  }
  
  /* Timeline Line */
  .timeline-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background-color: rgb(234 179 8);
    height: 0; /* Initial height set to 0 */
    transition: height 0.3s ease;
  }
  
  /* Timeline Item */
  .timeline-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0 30px;
    padding-left: 40px;
    /* left: 207px; */
    width: 397px;
  }
  
  .timeline-circle {
    width: 16px;
    height: 16px;
    background-color: rgb(234 179 8);
    border-radius: 50%;
    position: absolute;
    left: 3px;
  }
  
  .timeline-content {
    /* background-color: white; */
    padding: 0 0 10px 10px;
    color:var(--text-color)
    /* border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  }
  .timeline-item:nth-child(even){
    left: -221px;

  }
  .timeline-item:nth-child(odd){
    left: 221px;
  }
  .timeline-item:nth-child(odd) .timeline-circle{
    left: -10px;

  }
  /* #work .timeline-item:first-child .timeline-circle,
  #study .timeline-item:first-child .timeline-circle{
   display: none;

  } */
  .timeline-item:nth-child(even) .timeline-circle{
    left: 432px;
  }
 
  #study{
    display: none;
  }
  /* #study.active,
  #work.active{
    height:500px;
    max-height: 500px;
  }
  #study,
  #work{
    overflow: hidden;
    height:0;
    max-height: 0;
    transition: all 0.3s ease-in-out;
  } */
  #study, #work{
    transition: all 0.3s ease-in-out;
  }



.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    background-color: var(--switch-bg);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: var(--switch-knob);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked+.slider {
    background-color: var(--switch-bg);
  }

  input:checked+.slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .theme-switch-wrapper .fa-sun {
    margin-right: 7px;
    color: var(--text-color);
  }

  .theme-switch-wrapper .fa-moon {
    margin-left: 7px;
    color: var(--text-color);
  }

.contact_me,
.projects{
    width: 100%;
    padding: 3rem 0;
}
.contact_me .content{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects .content{
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_me .content .title.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_me .content .title div:first-child{
    font-size: 50px;
    font-weight: 900;
    color: var(--text-color);
}

.contact_me .title div:last-child{
    color: rgb(234 179 8);
    font-weight: 900;
}
.contact_me .content .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    margin-top: 3rem;
    width: 100%;
}
.contact_me .content .grid .col{
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color:var(--text-color)
    
}
.contact_me .content .grid .col a{
  color:var(--text-color)
}
.sub-title{
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 0.2rem;
}
.contact_me .content .grid .icon svg{
    width: 50px;
    height: 57px;
}
.footer{
    border-top: 1px solid rgb(234 179 8);
    width:100%;
    margin: 0;
}
.footer .content{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    color:var(--text-color)
}
.footer .content a img{
    width:30px
}
.footer .content .col.flex{
    display: flex;
    gap:0.5rem
}
.btn_contact{
    color:var(--swatch-text);
    position: relative;
 
    font-size: 18px;
}
.btn_contact::after{
  background-color: var(--swatch-text);
  position: absolute;
  content: '';
  bottom: -3px;
  width: 100%;
  height: 1px;
  left: 50%;
  transform: translate(-50%);
}
.skills{
    width:100%;
   

}
.skills .content{
    width:90%;
    max-width: 1400px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 2rem 0;
}
.skills .flex_row{
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:2rem;
  width: 90%;
}
.skill-rate {
  margin-left: 8px;
  font-weight: bold;
  color: var(--text-color); 
  font-weight: 700;
  transition: all 0.3s ease;
}
.title_type_skill{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}
.title_type_skill .first{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
  font-size: 21px;
}
.content_front .rows{
  height: 0;
 
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

}
 .rows.open{
  padding: 1rem;
  height: 273px;
  max-height: 273px;
}
.title_type_skill .second svg {
  transition: transform 0.4s ease;
}
.title_type_skill .second.active svg {
  transform: rotate(180deg);
}

.content_front{
  /* padding: 1rem; */
  border: 2px solid rgb(234 179 8);
  border-radius: 0.75rem;
  width: 100%;
  transition: all 0.3s ease-in-out;

  
}
.content_front:hover{
  box-shadow: rgb(234 179 8) 0px 5px 15px;

}
.skill {
    width: 100%;
    margin: 10px 0;
}
.skills .content .title.flex-col,
.projects .content .title.flex-col{
    padding: 2rem 0;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: var(--text-color);
}

.skills .title.flex-col div:last-child{
    color: rgb(234 179 8);
    font-size: 16px;
    font-weight: 900;
}

.skill h3 {
    margin-bottom: 5px;
    color:var(--text-color);
    font-size: 15px;
}

.skill-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
}

.skill-progress {
    height: 5px; 
    background: rgb(234 179 8); 
    width: 0;
    transition: width 1s ease-out;
}
.projects_swiper .img_container{
  width:45%
}
.projects_swiper .img_container img{
  width:100%
}

.projects_swiper .text_desc{
  width:45%;
  margin-left: 5%;
}
.swiper-slide{
margin-right: 20px;
padding-top: 1rem;
}
.projects_swiper{
  position: relative;
  width: 100%;
 
}
.projects .project-card{
  display: flex;
  align-items: center;
}
.tags{
  color:var(--text-color);
  font-weight: 800;
}
.projects .project-card .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.visit-btn{
   padding: 0.5rem 0.8rem;
   color:#fff;
   background-color: rgb(234 179 8);
   border-radius: 6px;
   font-weight: 700;
}
.projects .project-card .title{
  font-size: 30px;
  font-weight: 700;
  cursor: auto;
  color:var(--text-color);
  margin-bottom: 1rem;
}
.projects .project-card .title:hover{
  text-decoration: underline;
}
.projects .project-card p{
  font-size: 18px;
    line-height: 30px;
    margin: 5px 0;
    color:var(--text-color)
}
.projects .content{
  position: relative;
}
.next_project{
 
  right: -4rem !important;
  position: relative;
}
.prev_project{
 
  left: -4rem !important;
  position: relative;
}
.swiper-button-next:after,.swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: rgb(234 179 8);
  position: relative;
  top: 95%;
  font-size: 22px !important;
  font-weight: 600;
}
p.desc{
  line-height: 25px;
}
.hamb-icon button span {
  transition: 0.3s;
}

body.menu-open .hamb-icon button span:nth-child(1) {
  transform: rotate(45deg) translate(9.8px, 0px);
}

body.menu-open .hamb-icon button span:nth-child(2) {
  opacity: 0;
}

body.menu-open .hamb-icon button span:nth-child(3) {
  transform: rotate(-45deg) translate(9.3px, 0px);
}
body.menu-open {
  overflow: hidden;

}